body{
  overflow:hidden;
  background-image:url(https://i.imgur.com/7ln94H4.png);
  background-repeat:no-repeat;
  background-size:cover;
}

#w1{ 
  position:absolute;
  right:78px;
  top:102px;
}

#w2{ 
  position:absolute;
  right:105px;
  top:125px;
}

#w3{
  position:absolute;
  right:113px;
  top:142px;
}

#w4{
  position:absolute;
  right:123px;
  top:155px;
}

#button{
  cursor: pointer;
  position:absolute;
  right:110px;
  top:208px;
}


#fork{
  position:absolute;
  left:90px;
  top:190px;
}

#knife{
  position:absolute;
  right:90px;
  top:190px;
}

#plate{
  position:absolute;
  top:650px;
  left:190px;
}

#soup{
  position:absolute;
  top:670px;
  left:100px;
}

#plate1{
  position:absolute;
  top:550px;
  left:500px;
}

#soup1{
  position:absolute;
  top:572px;
  left:620px;
}

#plate2{
  position:absolute;
  top:435px;
  left:-150px;
}

#soup2{
  position:absolute;
  top:455px;
  left:-240px;
}

#plate3{
  position:absolute;
  top:340px;
  left:500px;
}

#soup3{
  position:absolute;
  top:370px;
  left:620px;
}


